.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info {
  margin: 0px;
  font-size: 18px !important;
}

.fighter-preview___img {
  margin-top: 10px;
  height: 280px;
}
